
.header-container {
    padding: 20px 10px;
    background-image: url(../../images/Bitmap.png) ,url(../../images/Rectangle.png) ;
    
    background-blend-mode:soft-light;
    background-size: cover;
}